@import url("https://fonts.googleapis.com/css?family=Rubik|Bitter");
@import "flexboxgrid";
@import "tables";
@import "colors";
@import "typography";
@import "images";
@import "layout";
@import "base";


@media(max-width: 48em) {
  body .container {
    padding: $vertical-rhythm * 2 $vertical-rhythm;
  }
  nav {
    // Hide menu links between logo and hamburger menu
    display: none !important;
    div:not(:first-child):not(:last-child) {
      display: none;
    }
    div.nav-toggle a {
      display: inline-block;
    }
  }
  .nav-fixed {
    display: flex !important;
  }
  .title { font-size: 1.8rem; }
  .subtitle { font-size: 1.2rem; }
  header img { max-height: 6rem; }
  .btn {
    width: 80% !important;
    i { display: none }
  }
}
@media(max-width: 25em) {
  body .container {
    padding: $vertical-rhythm * 2 $vertical-rhythm;
  }
  nav {
    div.logo, div.nav-toggle {
      max-width: 50% !important;
    }
  }
  .btn {
    width: 100% !important;
    i { display: none }
  }
}

@keyframes blink {
  from, to { color: transparent; }
  50% { color: $white; }
}

nav {
  height: $vertical-rhythm * 2;
  width: 100%;
  background-color: #FFF;
  align-content: center;
  position: absolute;
  bottom: 0;
  z-index: 100;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .4 );
  h3 {
    margin: 0;
    font-family: $font-body;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
  }
  img {
    display: inline-block;
    max-width: 10em;
    max-height: 2.1em;
    vertical-align: middle;
  }
  .nav-icon {
    img {
      max-height: 1.8em;
    }
  }
  div.logo, div.nav-toggle {
    visibility: hidden;
    max-width: none;
  }
  .nav-toggle a {
    display: none;
  }
  .middle-xs {
    align-content: center !important;
  }
}
.nav-fixed {
  position: fixed;
  top: 0;
  bottom: auto;
}
.nav-full {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  right: -100vw;
  height: 100%;
  background-color: $black;
  transform: translate(0px, 0px);
  transition: 0.25s ease-out;
  a {
    color: #FFF;
    &:hover {
      color: $accent;
    }
  }
}
.nav-full.active {
  transform: translate(-100vw, 0px);
}
main {
  background-color: #fff;
  transform: translate(0px, 0px);
  transition: 0.25s ease-in;
}
main.active {
  transform: translate(-100vw, 0px);
}
.container {
  max-width: 43.750rem; // 700px
  padding: $vertical-rhythm * 2 0 $vertical-rhythm * 2;
  margin: auto;
}
p {
  margin-bottom: $vertical-rhythm;
  code {
    font-family: $font-code;
  }
}
h1, h2, h3 {
  font-family: $font-header;
  margin-top: $vertical-rhythm;
  letter-spacing: 2px;
  a {
    text-decoration: none;
  }
}

.posts-list {
  margin: 0 0 $vertical-rhythm;
}
.sub-header, time {
  @include size(p);
  color: $storm;
  margin-bottom: $vertical-rhythm;
}
.content {
  text-align: left;
  width: 100%;
  time {
    margin-left: 3px;
  }
  a {
    text-shadow: 0.03em 0 #fff,
    -0.03em 0 #fff,
    0 0.03em #fff,
    0 -0.03em #fff,
    0.06em 0 #fff,
    -0.06em 0 #fff,
    0.09em 0 #fff,
    -0.09em 0 #fff,
    0.12em 0 #fff,
    -0.12em 0 #fff,
    0.15em 0 #fff,
    -0.15em 0 #fff,
    0.03em 0.075em #fff,
    -0.03em 0.075em #fff,
    0.06em 0.075em #fff,
    -0.06em 0.075em #fff,
    0.09em 0.075em #fff,
    -0.09em 0.075em #fff,
    0.12em 0.075em #fff,
    -0.12em 0.075em #fff,
    0.15em 0.075em #fff,
    -0.15em 0.075em #fff;
    background-image: linear-gradient($accent,$accent);
    background-size: 1px 2px;
    background-repeat: repeat-x;
    background-position: 0 95%;
    text-decoration: none;
    &:hover {
      color: $accent;
    }
  }
}
.highlight {
  margin: 10px 0;
}
.pagination {
  margin: 50px 0 0;
  :nth-child(2) {
    float: right;
  }
}
.full {
  height: 100vh;
  top: 0;
  bottom: 0;
}

.about {
  width: 100%;
  background-color: $smoke;
  padding-bottom: $vertical-rhythm * 2;
  p {
    @include size(h3);
    margin-top: $vertical-rhythm;
  }
  a {
    text-shadow: 0.03em 0 #fff,
    -0.03em 0 #fff,
    0 0.03em #fff,
    0 -0.03em #fff,
    0.06em 0 #fff,
    -0.06em 0 #fff,
    0.09em 0 #fff,
    -0.09em 0 #fff,
    0.12em 0 #fff,
    -0.12em 0 #fff,
    0.15em 0 #fff,
    -0.15em 0 #fff,
    0.03em 0.075em #fff,
    -0.03em 0.075em #fff,
    0.06em 0.075em #fff,
    -0.06em 0.075em #fff,
    0.09em 0.075em #fff,
    -0.09em 0.075em #fff,
    0.12em 0.075em #fff,
    -0.12em 0.075em #fff,
    0.15em 0.075em #fff,
    -0.15em 0.075em #fff;
    background-image: linear-gradient($accent,$accent);
    background-size: 2px 3px;
    background-repeat: repeat-x;
    background-position: 0 95%;
    text-decoration: none;
    &:hover {
      color: $accent;
    }
  }
}
.gallery {
  div[class^="col-"], div[class*=" col-"] {
    padding: 0;
    position: relative;
    &:hover .overlay {
      opacity: 0.9;
    }
  }
  img {
    /* padding: $vertical-rhythm * 3; */
  }
}
.overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease-out;
  background-color: $black;
  a {
    color: #FFF;
    &:hover {
      color: $accent;
    }
  }
  h2 {
    color: #FFF;
  }
  h3 {
    font-family: $font-body;
  }
}
.blog {
  min-height: 100vh;
  h3 {
    margin: 0 0 $vertical-rhythm;
    font-family: $font-body;
  }
}
.ponencias {
  width: 100%;
  background-color: $smoke;
  padding-top: $vertical-rhythm * 2;
  padding-bottom: $vertical-rhythm * 2;
  a {
    text-shadow: 0.03em 0 #fff,
    -0.03em 0 #fff,
    0 0.03em #fff,
    0 -0.03em #fff,
    0.06em 0 #fff,
    -0.06em 0 #fff,
    0.09em 0 #fff,
    -0.09em 0 #fff,
    0.12em 0 #fff,
    -0.12em 0 #fff,
    0.15em 0 #fff,
    -0.15em 0 #fff,
    0.03em 0.075em #fff,
    -0.03em 0.075em #fff,
    0.06em 0.075em #fff,
    -0.06em 0.075em #fff,
    0.09em 0.075em #fff,
    -0.09em 0.075em #fff,
    0.12em 0.075em #fff,
    -0.12em 0.075em #fff,
    0.15em 0.075em #fff,
    -0.15em 0.075em #fff;
    background-image: linear-gradient($accent,$accent);
    background-size: 2px 3px;
    background-repeat: repeat-x;
    background-position: 0 95%;
    text-decoration: none;
    &:hover {
      color: $accent;
    }
  }
}
.contact {
  width: 100%;
  background-color: $smoke;
  padding-bottom: $vertical-rhythm * 2;

  form {
    margin-top: $vertical-rhythm;
  }

  .contact-submit {
    position: relative;
  }

  #form-submit {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  #form-thankyou {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.entradas {
  padding-top: $vertical-rhythm * 2;
  padding-bottom: $vertical-rhythm * 2;
}
.cfp {
  padding-top: $vertical-rhythm * 2;
  padding-bottom: $vertical-rhythm * 2;
}


input {
  background-color: #FFF;
  border-color: $smoke;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  color: $black;
  padding: 10px;
  margin: 8px 0;
  width: 100%;
  &[type="submit"] {
    background-color: $storm;
    color: #FFF;
    transition: .2s ease-out;
    &:hover {
      background-color: $accent;
      color: #FFF;
      cursor: pointer;
    }
  }
}
textarea {
  @extend input;
  min-height: $vertical-rhythm * 4;
  overflow: auto;
}
footer {
  height: $vertical-rhythm * 6;
  background-color: $black;
  div, a {
    color: #FFF;
  }
}

.Typewriter__wrapper, .Typewriter__cursor {
  color: #05da8b;
}

.social-icons {
  position: absolute;
  bottom: 18px;
  a {
    margin-left: 1.5rem;
    color: #ffffff73;
    i {
      color: #ffffff73;
      margin-right: 4px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      color: #ffffff;
      i {
        color: #ffffff;
      }
    }
  }
  
}

.section-heading { margin-bottom: 2rem; }
.title {
  font-family: rubik,poppins,helvetica,sans-serif;
  & h3 {
    font-weight: 800;
  }
}
.subtitle {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: 0 !important;
}

.ponente, .taller {
  padding: 0 10px;
  h3 {
    text-transform: uppercase;
  }
  .subtitle {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #4e6b6c !important;
  }
}
.green-shell {
  color: #05da8b !important;
}

.btn {
  background-color: #4e6b6c;
  color: #fff;
  transition: .1s ease-out;
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  &:hover {
    background-color: #05da8b !important;
    color: #ffffff;
  }
}

.text-white { color: #ffffff !important; }

.bordered {
  border: 10px solid rgba(222, 226, 230, 0.34);
  border-radius: 7px;
}

.logo-sponsor {
  border: 1px solid rgba(222, 226, 230, 0.34);
  padding: 10px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border: 1px solid rgba(222, 226, 230, 1);
  }
}

.mt-5 {
  margin-top: 1rem;
}

.ml-5 {
  margin-left: 1rem;
}

.mr-5 {
  margin-right: 1rem;
}

.mb-5 {
  margin-bottom: 1rem;
}

.mt-10 {
  margin-top: 2rem;
}

.ml-10 {
  margin-left: 2rem;
}

.mr-10 {
  margin-right: 2rem;
}

.mb-10 {
  margin-bottom: 2rem;
}

.mt-20 {
  margin-top: 3rem;
}

.ml-20 {
  margin-left: 3rem;
}

.mr-20 {
  margin-right: 3rem;
}

.mb-20 {
  margin-bottom: 3rem;
}

.mt-50 {
  margin-top: 5rem;
}

.ml-50 {
  margin-left: 5rem;
}

.mr-50 {
  margin-right: 5rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.w-85 { max-width: 85% }
.w-75 { max-width: 75% }
.w-50 { max-width: 50% }
.w-25 { max-width: 25% }