<section class="blog" id="blog">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12"><h1>Anuncios</h1></div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-12 posts-list">
        {{ range first 5 (where .Data.Pages "Section" "blog") }}
          <article>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div class=sub-header>
              {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ .ReadingTime }} minutos
            </div>
          </article>
        {{ end }}
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-12"><h3><a href="{{ .Site.BaseURL }}/blog/">Ver más</a></h3></div>
    </div>
  </div>
</section>
