{{ $directory := "content/" }}
{{ $filename := "conferencias.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}
  <section class="conferencias" id="conferencias">
    <div class="container middle-xs">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h1>{{ with $.Site.GetPage "page" "conferencias.md" }}{{ .Title }}{{ end }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 middle-xs">
          {{ with $.Site.GetPage "page" "conferencias.md" }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
