{{ if or (.Site.Params.ajaxFormspree) (.Site.Params.ajaxBasin) }}
<section class="contact" id="contacto">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h1>Contacto</h1>
      </div>
    </div>

    <form id="form-contact" action="{{ if .Site.Params.ajaxFormspree }}https://formspree.io/{{ .Site.Params.email }}{{ else if .Site.Params.ajaxBasin }}{{ .Site.Params.ajaxBasin }}{{ end }}" method="POST">
      <div class="row center-xs">
        <div class="col-xs-12 col-sm-6"><input type="text" name="name" placeholder="Nombre" required></div>
        <div class="col-xs-12 col-sm-6"><input type="email" id="email" name="email" placeholder="Email" required></div>
        <div class="col-xs-12"><input type="text" name="_subject" placeholder="Asunto" required></div>
        <div class="col-xs-12"><textarea name="message" placeholder="Mensaje" required></textarea></div>
        {{ if .Site.Params.ajaxFormspree }}
        <input type="text" name="_gotcha" style="display:none">
        <input type="hidden" name="_next" value="/">
        {{ end }}
        <div class="col-xs-12 contact-submit">
          <input id="form-submit" type="submit" value="Enviar">
          <span id="form-thankyou" style="visibility:hidden">Gracias por tu correo!</span>
        </div>
      </div>
    </form>

  </div>
</section>
{{ end }}
