<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <!-- About -->
      {{ partial "about.html" . }}

      <!-- Conferencias -->
      {{ partial "conferencias.html" . }}

      <!-- Talleres -->
      {{ if not (eq (len (where .Data.Pages "Section" "gallery")) 0) }}
        {{ partial "gallery.html" . }}
      {{ end }}

      <!-- CTF -->
      {{ partial "ctf.html" . }}

      <!-- Blog -->
      {{ if not (eq (len (where .Data.Pages "Section" "blog")) 0) }}
        {{ partial "blog.html" . }}
      {{ end }}

      <!-- Contacto -->
      {{ partial "contacto.html" . }}

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
